<h1>
  {{title}}
</h1>
<div class="App-cube">
  <cube>
    <div cubeBackFace style="height: 100%; background-color: red">back</div>
    <div cubeRightFace style="height: 100%; background-color: orange">right</div>
    <div cubeLeftFace style="height: 100%; background-color: green">left</div>
    <div cubeTopFace style="height: 100%; background-color: white">top</div>
    <div cubeBottomFace style="height: 100%; background-color: yellow">bottom</div>
    <div cubeFrontFace style="height: 100%; background-color: blue">front</div>
  </cube>
</div>
